@import "../../style/global";

.Text {
  font-family: "Espy Regular";
  margin: 0;
  font-size: 1em;
}

.bold {
  font-family: "Espy Bold"
}

.small {
  font-size: 0.8em;
}

.large {
  font-size: 1.25em;
}

