.toolbar {
  background-image: url(../../assets/button_left.png), url(../../assets/button_right.png), url(../../assets/button_middle.png);
  background-position: left, right, center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain;
  border: none;
  outline: none;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbargroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.maclogo {
  transform: translateY(-1px);
}
