@font-face {
  font-family: 'Espy Bold';
  src: local('Espy-Bold'), url(../assets/Espy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Espy Regular';
  src: local('Espy Regular'), url(../assets/Espy-Regular.ttf) format('truetype');
}
